body{
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
/* MODAL----------- */
body .modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
}
.modal__container{
    width: 600px;
    height: 300px;
    margin: auto;
    background-color: aliceblue;
    box-shadow: 1px 1px 10px rgb(104, 104, 104);
    transition: all 500ms ease;
    position: relative;
}
.modal__container header{
    padding: 10px;
    right: 10px;
    background-color: rgb(69, 69, 69);
    color: white;
}
.modal__container label{
    position: absolute;
    top: 8px;
    right: 18px;
    color: rgb(255, 151, 151);
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}
#btn-modal{
    display: none;
}
.lbl-modal{
    width: 10%;
    text-align: center;
    background-color: rgb(82, 82, 82);
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid rgb(211, 211, 211);
    cursor: pointer;
    margin: 1em 1em 0 1em;
    transition: all 0.8s ease;
}
.lbl-modal:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all 0.8s ease;
}
.lbl-modal:active{
    background-color: rgb(46, 255, 147);
    transition: none;
}
/* ------- */


/* PL-CONTAINER-------- */
h1{
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
#plContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 0;
}
#plContainer li{
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 4px;
    width: 200px;
    margin: 0.5em 1em;
}
#plContainer img{
    width: 170px;
    height: 185px;
    padding: 1em;
}
#plContainer h3{
    color: rgb(34, 34, 34);
    margin: 0px;
    text-align: left;
    padding: 0.5em 0.5em 0 0.5em;
    font-size: 0.9em;
    border-top: 1px solid rgb(211, 211, 211);
}
#plContainer p{
    color: rgb(34, 34, 34);
    text-align: right;
    font-size: 0.8em;
    padding: 0px 0.5em;
    margin: 0px;
}
#plContainer div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#plContainer div span{
    padding: 0.5em 0.5em;
}
#plContainer div button{
    margin: 0.5em 0;
    border: none;
    border-radius: 3px;
    padding: 0.5em;
    background-color: rgb(96, 95, 95);
    color: white;
    transition: all 0.5s;
}
#plContainer div button:hover{
    background-color: rgb(41, 41, 41);
    color: white;
    transition: all 0.5s;
    cursor: pointer;
}
#plContainer div button:active{
    background-color: rgb(46, 255, 147);
    transition: none;
}
/* ---------- */


/* SHOP CART TABLE */
.container---content{
    position: relative;
}
.container---content table{
    width: 100%;
    height: 200px;
}
.container---content th{
    font-size: x-small;
    margin: 0 auto;
}
.container---content td{
    font-size: small;
    text-align: center;
}